<div class="col-md-4 side-nav">
  <h1 class="logo">LISTNR</h1>
  <div class="nav-buttons">
    <div class="nav-button">
      <%= link_to "Start a chat", new_chat_path, class: 'btn btn-primary nav-button' %>
    </div>
    <div class="nav-button">
      <%= link_to "Log out", logout_path, method: "destroy", class: 'btn btn-primary nav-button' %>
    </div>
  </div>
</div>

<div class="col-md-8 main">
<h2>Start Chat</h2>

<%= form_for @chat do |f| %>
    <%= f.fields_for :users do |u| %>
  <div id="user-fields">
      <%= link_to "add field", '#', remote: true, id: 'add-user' %>
      <div class="row">
        <select onchange="myFunction(0)" id="select-0">
          <option value="username">Username</option>
          <option value="phone_number">Phone Number</option>
        </select>
        <div class="input">
          <%= u.label :username %>
          <%= u.text_field :username %>
          <div id="validation" style="display:inline">
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= f.submit "Start Chat", id: "start-chat" %>
<% end %>

</div>
